@model BassoLegnami.Model.Models.Users.User
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<SharedResource> SR

@{
    ViewData["Title"] = string.Format("{0} {1}", SR["Create"].Value, Html.DisplayNameFor(model => model.UserId).ToString());
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="card stacked-form">
            <div class="card-header ">
                <h4 class="card-title title">@ViewData["Title"]</h4>
            </div>
            <div class="card-body">
                <form asp-action="Create">
                    <hr />
                    <div asp-validation-summary="ModelOnly" class="alert alert-danger"><i class="fa fa-close"></i></div>
                    <div class="form-group">
                        <label asp-for="UserName" class="control-label"></label>
                        <input asp-for="UserName" class="form-control" />
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ConfirmPassword" class="control-label"></label>
                        <input asp-for="ConfirmPassword" class="form-control" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label class="control-label">
                                <input asp-for="Enabled" /> @Html.DisplayNameFor(model => model.Enabled)
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label class="control-label">
                                <input asp-for="ChangePassword" /> @Html.DisplayNameFor(model => model.ChangePassword)
                            </label>
                        </div>
                    </div>
                    <hr />
                    <div class="text-right">
                        <button type="submit" value="Create" class="btn btn-primary"><i class="fa fa-save"></i> @SR["Save"]</button>
                        <a asp-action="Index" class="btn btn-default"><i class="fa fa-chevron-left"></i> @SR["BackToList"]</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-3"></div>
</div>

