@model IEnumerable<BassoLegnami.Model.Models.Users.User>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<SharedResource> SR

@{
    ViewData["Title"] = string.Format("{0} {1}", SR["List"].Value, Html.DescriptionFor(model => model.FirstOrDefault().UserId).ToString());
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="card data-tables">
            <div class="card-body table-striped table-bordered table-hover dataTable dtr-inline table-full-width">
                <div class="fresh-datatables">
                    <div class="card-header">
                        <h4 class="card-title title">@ViewData["Title"]</h4>
                    </div>
                    <hr />
                    <table class="table table-striped table-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                        <thead>
                            <tr>
                                <th><displayName asp-for="@Model.FirstOrDefault().UserName" class="control-label"></displayName></th>
                                <th><displayName asp-for="@Model.FirstOrDefault().Email" class="control-label"></displayName></th>
                                <th><displayName asp-for="@Model.FirstOrDefault().Enabled" class="control-label"></displayName></th>
                                <th><displayName asp-for="@Model.FirstOrDefault().ChangePassword" class="control-label"></displayName></th>
                                <th class="text-right">
                                    <a asp-action="Create" class="btn btn-primary"><i class="fa fa-plus"></i> @SR["CreateNew"]</a>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td><displayValue asp-for="@item.UserName" class="form-control"></displayValue></td>
                                    <td><displayValue asp-for="@item.Email" class="form-control"></displayValue></td>
                                    <td><displayValue asp-for="@item.Enabled" class="form-control"></displayValue></td>
                                    <td><displayValue asp-for="@item.ChangePassword" class="form-control"></displayValue></td>
                                    <td class="text-right">
                                        <a asp-action="Details" asp-route-id="@item.UserId" class="btn btn-default"><i class="fa fa-list-alt"></i></a>
                                        <a asp-action="Edit" asp-route-id="@item.UserId" class="btn btn-md btn-warning"><i class="fa fa-pencil-square-o"></i> </a>
                                        <a asp-action="Delete" asp-route-id="@item.UserId" class="btn btn-danger"><i class="fa fa-trash"></i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
