@using In.Core.Configuration;
@using Microsoft.Extensions.Options;
@using Microsoft.AspNetCore.Mvc.Localization
@inject IOptions<ApplicationConfigurations> O
@inject IHtmlLocalizer<SharedResource> SR
@inject BassoLegnami.Model.Data.IUnitOfWork unitOfWork;

<style type="text/css">
    .fas {
        font-size: 1.33em !important;
        line-height: 30px;
    }
</style>

<ul id="sideMenu" class="nav">
    <li class="nav-item ">
        <a class="nav-link" asp-action="Index" asp-controller="Home" asp-area="" forced="true">
            <i class="nc-icon nc-explore-2"></i>
            <p>@SR["Home"]</p>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link firstLevelMenu" data-toggle="collapse" href="#functionsNavItem" forced="true">
            <i class="nc-icon nc-paper-2"></i>
            <p>
                @SR["Home"]
                <b class="caret"></b>
            </p>
        </a>
        <div class="collapse " id="functionsNavItem">
            <ul class="nav">
                <li class="nav-item ">
                    <a class="nav-link" asp-action="Index" asp-controller="AgentiGiacenzes" asp-area="Support">
                        <span class="sidebar-mini"><i class="fas fa-inbox"></i></span>
                        <span class="sidebar-normal">Giacenze</span>
                    </a>
                </li>
            </ul>
        </div>
    </li>

    <li class="nav-item">
        <a class="nav-link firstLevelMenu" data-toggle="collapse" href="#supportNavItem" forced="true">
            <i class="nc-icon nc-umbrella-13"></i>
            <p>
                @SR["Support"]
                <b class="caret"></b>
            </p>
        </a>
        <div class="collapse " id="supportNavItem">
            <ul class="nav">
                <li class="nav-item ">
                    <a class="nav-link" asp-action="Index" asp-controller="UnitsOfMeasurement" asp-area="Support">
                        <span class="sidebar-mini"><i class="fas fa-thermometer-half"></i></span>
                        <span class="sidebar-normal">@SR["UnitsOfMeasurementsMenu"]</span>
                    </a>
                </li>
            </ul>
            <ul class="nav">
                <li class="nav-item ">
                    <a class="nav-link" asp-action="Index" asp-controller="Festivities" asp-area="Support">
                        <span class="sidebar-mini"><i class="fas fa-birthday-cake"></i></span>
                        <span class="sidebar-normal">@SR["FestivitiesMenu"]</span>
                    </a>
                </li>
            </ul>
        </div>
    </li>

    <li class="nav-item">
        <a class="nav-link firstLevelMenu" data-toggle="collapse" href="#administrationNavItem" forced="true">
            <i class="nc-icon nc-settings-gear-64"></i>
            <p>
                @SR["Administration"]
                <b class="caret"></b>
            </p>
        </a>
        <div class="collapse " id="administrationNavItem">
            <ul class="nav">
                <li class="nav-item ">
                    <a class="nav-link" asp-action="Index" asp-controller="ExternalSystems" asp-area="Support">
                        <span class="sidebar-mini"><i class="fas fa-server"></i></span>
                        <span class="sidebar-normal">@SR["ExternalSystemsObject"]</span>
                    </a>
                </li>
            </ul>
            <ul class="nav">
                <li class="nav-item ">
                    <a class="nav-link" asp-action="Index" asp-controller="ExternalSystemValues" asp-area="Support">
                        <span class="sidebar-mini"><i class="fas fa-exchange-alt"></i></span>
                        <span class="sidebar-normal">@SR["ExternalSystemValuesObject"]</span>
                    </a>
                </li>
            </ul>
            <ul class="nav">
                <li class="nav-item ">
                    <a class="nav-link" asp-action="Index" asp-controller="Settings" asp-area="Support">
                        <span class="sidebar-mini"><i class="fas fa-cogs"></i></span>
                        <span class="sidebar-normal">@SR["SettingsObject"]</span>
                    </a>
                </li>
            </ul>
            <ul class="nav">
                <li class="nav-item ">
                    <a class="nav-link" asp-action="Index" asp-controller="FileFolders" asp-area="Support">
                        <span class="sidebar-mini"><i class="fas fa-folder-open"></i></span>
                        <span class="sidebar-normal">@SR["FileFoldersObject"]</span>
                    </a>
                </li>
            </ul>
            <ul class="nav">
                <li class="nav-item ">
                    <a class="nav-link" asp-action="Index" asp-controller="Workflows" asp-area="Support">
                        <span class="sidebar-mini"><i class="fas fa-project-diagram"></i></span>
                        <span class="sidebar-normal">@SR["WorkflowsObject"]</span>
                    </a>
                </li>
            </ul>
        </div>
    </li>

    <li class="nav-item">
        <a class="nav-link firstLevelMenu" data-toggle="collapse" href="#usersNavItem" forced="true">
            <i class="nc-icon nc-single-02"></i>
            <p>
                @SR["Users"]
                <b class="caret"></b>
            </p>
        </a>
        <div class="collapse " id="usersNavItem">
            <ul class="nav">
                <li class="nav-item ">
                    <a class="nav-link" asp-action="Index" asp-controller="RecordFilterRuleTypes" asp-area="Users">
                        <span class="sidebar-mini"><i class="fas fa-filter"></i></span>
                        <span class="sidebar-normal">@SR["RecordFilterRuleTypesObject"]</span>
                    </a>
                </li>
            </ul>
            <ul class="nav">
                <li class="nav-item ">
                    <a class="nav-link" asp-action="Index" asp-controller="Authorizations" asp-area="Users">
                        <span class="sidebar-mini"><i class="fas fa-key"></i></span>
                        <span class="sidebar-normal">@SR["AuthorizationsObject"]</span>
                    </a>
                </li>
            </ul>
            <ul class="nav">
                <li class="nav-item ">
                    <a class="nav-link" asp-action="Index" asp-controller="Users" asp-area="Users">
                        <span class="sidebar-mini"><i class="fas fa-users"></i></span>
                        <span class="sidebar-normal">@SR["UsersObject"]</span>
                    </a>
                </li>
            </ul>
            <ul class="nav">
                <li class="nav-item ">
                    <a class="nav-link" asp-action="Index" asp-controller="Roles" asp-area="Users">
                        <span class="sidebar-mini"><i class="fas fa-users-cog"></i></span>
                        <span class="sidebar-normal">@SR["RolesObject"]</span>
                    </a>
                </li>
            </ul>
            <ul class="nav">
                <li class="nav-item ">
                    <a class="nav-link" asp-action="Index" asp-controller="Logs" asp-area="Users">
                        <span class="sidebar-mini"><i class="fas fa-th-list"></i></span>
                        <span class="sidebar-normal">@SR["LogsObject"]</span>
                    </a>
                </li>
            </ul>
        </div>
    </li>
</ul>
