@using Microsoft.AspNetCore.Mvc.Localization
@model BassoLegnami.Models.AccountViewModels.ResetPasswordViewModel
@inject IViewLocalizer L
@inject IHtmlLocalizer<SharedResource> SR
@{
    Layout = "~/Views/Account/_Account.cshtml";
    ViewData["Title"] = "Reset password";
}

<form method="post">
    <div class="card card-login card-hidden">
        <div class="card-header ">
            <h3 class="header text-center"><i class="fa fa-key"></i>&nbsp;&nbsp;@L["ResetPassword"]</h3>
            <hr />
        </div>
        <div class="card-body ">
            <div class="card-body">
                <div class="form-group">
                    <label class="control-label">@L["Email"]</label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">@L["Password"]</label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">@L["ConfirmPassword"]</label>
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
            </div>
            <hr />
        </div>
        <div class="card-footer ml-auto mr-auto">
            <a asp-controller="Home" asp-action="Index" class="btn btn-default"><i class="fa fa-home"></i> @SR["GoToHome"]</a>
            <button type="submit" class="btn btn-primary"><i class="fa fa-check"></i> @SR["Confirm"]</button>
        </div>
    </div>
</form>
